USE [master]
GO
/****** Object:  Database [ITInventoryDB]    Script Date: 05.04.2026 15:25:09 ******/
CREATE DATABASE [ITInventoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITInventoryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ITInventoryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITInventoryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ITInventoryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITInventoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITInventoryDB]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 05.04.2026 15:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[EquipmentID] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](100) NOT NULL,
	[Model] [nvarchar](100) NOT NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[PurchaseDate] [date] NULL,
	[PurchasePrice] [decimal](12, 2) NULL,
	[StatusID] [int] NOT NULL,
	[ResponsibleUserID] [int] NULL,
	[TypeID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentStatuses]    Script Date: 05.04.2026 15:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
	[IsAvailableForUse] [bit] NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentStatusHistory]    Script Date: 05.04.2026 15:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentID] [int] NOT NULL,
	[OldStatusID] [int] NOT NULL,
	[NewStatusID] [int] NOT NULL,
	[ChangedByUserID] [int] NOT NULL,
	[ChangedAt] [datetime2](7) NULL,
	[Comment] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentTypes]    Script Date: 05.04.2026 15:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[WarrantyMonths] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairRequests]    Script Date: 05.04.2026 15:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentID] [int] NOT NULL,
	[RequestedByUserID] [int] NOT NULL,
	[RequestDate] [datetime2](7) NULL,
	[IssueDescription] [nvarchar](500) NOT NULL,
	[RequestStatusID] [int] NOT NULL,
	[ResolvedByUserID] [int] NULL,
	[ResolutionNotes] [nvarchar](500) NULL,
	[ResolvedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatuses]    Script Date: 05.04.2026 15:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatuses](
	[RequestStatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
	[IsFinal] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 05.04.2026 15:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05.04.2026 15:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([EquipmentID], [SerialNumber], [Model], [Manufacturer], [PurchaseDate], [PurchasePrice], [StatusID], [ResponsibleUserID], [TypeID], [CreatedAt], [UpdatedAt]) VALUES (1, N'SN-LENOVO-X1-001', N'ThinkPad X1 Carbon', N'Lenovo', CAST(N'2024-01-15' AS Date), CAST(185000.00 AS Decimal(12, 2)), 1, 2, 1, CAST(N'2026-04-05T13:13:15.8033333' AS DateTime2), CAST(N'2026-04-05T13:13:15.8033333' AS DateTime2))
INSERT [dbo].[Equipment] ([EquipmentID], [SerialNumber], [Model], [Manufacturer], [PurchaseDate], [PurchasePrice], [StatusID], [ResponsibleUserID], [TypeID], [CreatedAt], [UpdatedAt]) VALUES (2, N'SN-DELL-5420-002', N'Latitude 5420', N'Dell', CAST(N'2024-02-10' AS Date), CAST(125000.00 AS Decimal(12, 2)), 1, 3, 1, CAST(N'2026-04-05T13:13:15.8033333' AS DateTime2), CAST(N'2026-04-05T13:13:15.8033333' AS DateTime2))
INSERT [dbo].[Equipment] ([EquipmentID], [SerialNumber], [Model], [Manufacturer], [PurchaseDate], [PurchasePrice], [StatusID], [ResponsibleUserID], [TypeID], [CreatedAt], [UpdatedAt]) VALUES (3, N'SN-HP-PRO-003', N'ProBook 450', N'HP', CAST(N'2023-11-20' AS Date), CAST(98000.00 AS Decimal(12, 2)), 2, NULL, 1, CAST(N'2026-04-05T13:13:15.8033333' AS DateTime2), CAST(N'2026-04-05T13:13:15.8033333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentStatuses] ON 

INSERT [dbo].[EquipmentStatuses] ([StatusID], [StatusName], [IsAvailableForUse], [SortOrder]) VALUES (1, N'В работе', 1, 1)
INSERT [dbo].[EquipmentStatuses] ([StatusID], [StatusName], [IsAvailableForUse], [SortOrder]) VALUES (2, N'На складе', 1, 2)
INSERT [dbo].[EquipmentStatuses] ([StatusID], [StatusName], [IsAvailableForUse], [SortOrder]) VALUES (3, N'Ремонт', 0, 3)
SET IDENTITY_INSERT [dbo].[EquipmentStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentStatusHistory] ON 

INSERT [dbo].[EquipmentStatusHistory] ([HistoryID], [EquipmentID], [OldStatusID], [NewStatusID], [ChangedByUserID], [ChangedAt], [Comment]) VALUES (1, 6, 1, 3, 4, CAST(N'2026-04-05T13:13:15.8066667' AS DateTime2), N'Принтер отправлен в ремонт')
INSERT [dbo].[EquipmentStatusHistory] ([HistoryID], [EquipmentID], [OldStatusID], [NewStatusID], [ChangedByUserID], [ChangedAt], [Comment]) VALUES (2, 6, 3, 1, 4, CAST(N'2026-04-05T13:13:15.8066667' AS DateTime2), N'Принтер отремонтирован и возвращён')
INSERT [dbo].[EquipmentStatusHistory] ([HistoryID], [EquipmentID], [OldStatusID], [NewStatusID], [ChangedByUserID], [ChangedAt], [Comment]) VALUES (3, 8, 1, 4, 1, CAST(N'2026-04-05T13:13:15.8066667' AS DateTime2), N'Списан по причине физического износа')
SET IDENTITY_INSERT [dbo].[EquipmentStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentTypes] ON 

INSERT [dbo].[EquipmentTypes] ([TypeID], [TypeName], [Category], [WarrantyMonths]) VALUES (1, N'Ноутбук', N'Вычислительная техника', 24)
INSERT [dbo].[EquipmentTypes] ([TypeID], [TypeName], [Category], [WarrantyMonths]) VALUES (2, N'Монитор', N'Периферия', 12)
INSERT [dbo].[EquipmentTypes] ([TypeID], [TypeName], [Category], [WarrantyMonths]) VALUES (3, N'Принтер', N'Периферия', 12)
SET IDENTITY_INSERT [dbo].[EquipmentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[RepairRequests] ON 

INSERT [dbo].[RepairRequests] ([RequestID], [EquipmentID], [RequestedByUserID], [RequestDate], [IssueDescription], [RequestStatusID], [ResolvedByUserID], [ResolutionNotes], [ResolvedDate]) VALUES (1, 1, 2, CAST(N'2026-04-05T13:13:15.8066667' AS DateTime2), N'Не включается ноутбук после обновления Windows', 3, 4, N'Переустановлена прошивка BIOS, обновлены драйверы', CAST(N'2025-03-20T14:30:00.0000000' AS DateTime2))
INSERT [dbo].[RepairRequests] ([RequestID], [EquipmentID], [RequestedByUserID], [RequestDate], [IssueDescription], [RequestStatusID], [ResolvedByUserID], [ResolutionNotes], [ResolvedDate]) VALUES (2, 3, 3, CAST(N'2026-04-05T13:13:15.8066667' AS DateTime2), N'Шумит кулер и сильный нагрев', 2, NULL, NULL, NULL)
INSERT [dbo].[RepairRequests] ([RequestID], [EquipmentID], [RequestedByUserID], [RequestDate], [IssueDescription], [RequestStatusID], [ResolvedByUserID], [ResolutionNotes], [ResolvedDate]) VALUES (3, 6, 2, CAST(N'2026-04-05T13:13:15.8066667' AS DateTime2), N'Принтер выдаёт ошибку "Нет бумаги" при наличии бумаги', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RepairRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestStatuses] ON 

INSERT [dbo].[RequestStatuses] ([RequestStatusID], [StatusName], [IsFinal]) VALUES (1, N'Новая', 0)
INSERT [dbo].[RequestStatuses] ([RequestStatusID], [StatusName], [IsFinal]) VALUES (2, N'В работе', 0)
INSERT [dbo].[RequestStatuses] ([RequestStatusID], [StatusName], [IsFinal]) VALUES (3, N'Завершена', 1)
SET IDENTITY_INSERT [dbo].[RequestStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Полный доступ: CRUD ко всем сущностям')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'Employee', N'Просмотр оборудования, создание заявок на ремонт')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (3, N'TechSupport', N'Управление статусами оборудования и заявок')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [RoleID], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'admin123', N'Иванов Иван Админович', N'admin@company.ru', 1, 1, CAST(N'2026-04-05T13:13:15.8033333' AS DateTime2))
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [RoleID], [IsActive], [CreatedAt]) VALUES (2, N'employee1', N'emp123', N'Петрова Елена Сотрудниковна', N'elena.p@company.ru', 2, 1, CAST(N'2026-04-05T13:13:15.8033333' AS DateTime2))
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Email], [RoleID], [IsActive], [CreatedAt]) VALUES (3, N'employee2', N'emp123', N'Сидоров Сергей Работникович', N's.sidorov@company.ru', 2, 1, CAST(N'2026-04-05T13:13:15.8033333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Equipmen__048A0008115F7049]    Script Date: 05.04.2026 15:25:10 ******/
ALTER TABLE [dbo].[Equipment] ADD UNIQUE NONCLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Equipmen__05E7698A41957080]    Script Date: 05.04.2026 15:25:10 ******/
ALTER TABLE [dbo].[EquipmentStatuses] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Equipmen__D4E7DFA8AE4E952F]    Script Date: 05.04.2026 15:25:10 ******/
ALTER TABLE [dbo].[EquipmentTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RequestS__05E7698A4B5794FC]    Script Date: 05.04.2026 15:25:10 ******/
ALTER TABLE [dbo].[RequestStatuses] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B616050C94963]    Script Date: 05.04.2026 15:25:10 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E48D7B692A]    Script Date: 05.04.2026 15:25:10 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Equipment] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[EquipmentStatuses] ADD  DEFAULT ((1)) FOR [IsAvailableForUse]
GO
ALTER TABLE [dbo].[EquipmentStatuses] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[EquipmentStatusHistory] ADD  DEFAULT (getdate()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[EquipmentTypes] ADD  DEFAULT ((12)) FOR [WarrantyMonths]
GO
ALTER TABLE [dbo].[RepairRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[RequestStatuses] ADD  DEFAULT ((0)) FOR [IsFinal]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD FOREIGN KEY([ResponsibleUserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[EquipmentStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[EquipmentTypes] ([TypeID])
GO
ALTER TABLE [dbo].[EquipmentStatusHistory]  WITH CHECK ADD FOREIGN KEY([ChangedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EquipmentStatusHistory]  WITH CHECK ADD FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[EquipmentStatusHistory]  WITH CHECK ADD FOREIGN KEY([NewStatusID])
REFERENCES [dbo].[EquipmentStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[EquipmentStatusHistory]  WITH CHECK ADD FOREIGN KEY([OldStatusID])
REFERENCES [dbo].[EquipmentStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[RepairRequests]  WITH CHECK ADD FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[RepairRequests]  WITH CHECK ADD FOREIGN KEY([RequestedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[RepairRequests]  WITH CHECK ADD FOREIGN KEY([RequestStatusID])
REFERENCES [dbo].[RequestStatuses] ([RequestStatusID])
GO
ALTER TABLE [dbo].[RepairRequests]  WITH CHECK ADD FOREIGN KEY([ResolvedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
USE [master]
GO
